<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear />
  </config>
  <packageSources>
    <clear />
    <add key="ice.net" value="http://tfs01:90/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="TeamCity" value="http://teamcity/guestAuth/app/nuget/v1/FeedService.svc/" />
    <add key="EpiServer" value="http://nuget.episerver.com/feed/packages.svc/" />
    <add key="Package source" value="C:\LocalFeed" />
  </packageSources>
</configuration>
