<?xml version="1.0" encoding="utf-8"?>
<module name="BlockBreadcrumbs">
  <assemblies>
    <add assembly="BlockBreadcrumbs" />
  </assemblies>
  <clientResources>
    <add name="blockBreadcrumbs.Scripts" path="ClientResources/Scripts.js" resourceType="Script"/>
    <add name="blockBreadcrumbs.Styles" path="ClientResources/Styles.css" resourceType="Style"/>
  </clientResources>
</module>